<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="http://localhost:4001/style/style.css">
</head>

<body>
    <div class="loginform">
        <h1>Login</h1>
        <div>
            <label for="email">Your email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Your password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <button type="button" id="button">Login</button>
            <a href="/users/register">Register</a>
        </div>

    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>