<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>All posts</title>
</head>
<body>
    <div id="nav">
        <a href="#" id="allUsers">All Users</a>
        <a href="#" id="myProfile">My Profile</a>
        <a href="#" id="myPosts">My Posts</a>
        <a href="#" id="allPosts">All Posts</a>
        <a href="#" id="newPost">Create New Post</a>
        
        <a href="#" id="logout">Logout</a>
        
    </div>
    <div id="main">
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/posts.js"></script>
</body>
</html>